.bundle/
log/*.log
pkg/
spec/dummy/db/data.yml
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
spec/dummy/public/system
spec/dummy/config/flex_query.yml
spec/files
*.gem
tmp/
.localeapp
.localeapp